# Dataframes

Tutorial Video: https://www.youtube.com/watch?v=7I4YZwaJgPs&list=PLZoTAELRMXVNjiiawhzZ0afHcPvC8jpcg&index=2

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/16 19:51:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
## read the dataset
# df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema = True)
# OR
df_pyspark = spark.read.csv('test1.csv', header = True, inferSchema = True)

df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         6|
|    Sunny| 29|         4|
+---------+---+----------+

In [6]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [7]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [8]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [9]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhanshu', Age=30, Experience=6),
 Row(Name='Sunny', Age=29, Experience=4)]

In [10]:
type(df_pyspark.select(['Name','Experience']))

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         6|
|    Sunny|         4|
+---------+----------+

In [12]:
df_pyspark['Name']

Column<'Name'>

In [13]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [14]:
df_pyspark.describe().show()

+-------+-----+----+------------------+
|summary| Name| Age|        Experience|
+-------+-----+----+------------------+
|  count|    3|   3|                 3|
|   mean| NULL|30.0| 6.666666666666667|
| stddev| NULL| 1.0|3.0550504633038935|
|    min|Krish|  29|                 4|
|    max|Sunny|  31|                10|
+-------+-----+----+------------------+

In [15]:
df_pyspark = df_pyspark.withColumn('Experience After 2 Years',df_pyspark['Experience'] + 2)

In [16]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience After 2 Years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         6|                       8|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [17]:
## Drop the Columns
df_pyspark = df_pyspark.drop('Experience After 2 Years')

In [18]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         6|
|    Sunny| 29|         4|
+---------+---+----------+

24/07/16 19:51:44 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [19]:
## Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         6|
|    Sunny| 29|         4|
+---------+---+----------+